@model IEnumerable<UpnoidV4.Models.Movie>

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>List of Movies</h2>
<hr/>
<p>
    @Html.ActionLink("New Movie", "New", "Movies", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("View Rented Movies", "Index", "Rentals", null, new { @class = "btn btn-primary" })
</p>

<table id="movies" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th><div><b>Movie</b></div></th>
            <th><div><b>Genre</b></div></th>
            <th><div><b>Number Available</b></div></th>
            <th><div><b>Delete</b></div></th>

            <th><div><b>Watch Trailer</b></div></th>
            
        </tr>
    </thead>
    <tbody>
       
          
    </tbody>
</table>
@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#movies").DataTable({
                lengthMenu: [[5, 6, 10, 25, 50, -1], [5, 6, 10, 25, 50, "All"]],
                pageLenght: 4,
                "bSort": true,
                ajax: {
                    url: "/api/movies",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function(data, type, movie) {
                            return "<a href='/movies/edit/" + movie.id + "'>" + movie.name + "</a>";
                        }
                    },
                    {
                        data: "genre.name"
                    },
                   
                    {
                        data: "numberAvailable"
                    },
                  
                    {
                        data: "id",
                        render: function(data) {
                            return "<button class='btn btn-primary js-delete' data-movie-id=" + data + ">Delete</button>";
                        }
                    },
                    {
                        data: "id",
                        render: function(data) {
                            return "<a href='/movies/trailer/'> Watch Trailer</a>";
                        }
                    },
                  
                   
                ]
            });
            $("#movies").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this movie?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/movies/" + button.attr("data-movie-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>
}
