@{
    ViewBag.Title = "About";
}
<h2>About Upnoid</h2>

<div id="accordion" role="tablist" aria-multiselectable="true">
    <div class="card">
        <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    WHAT IS <b>UPNOID</b>
                </a>
            </h5>
        </div>

        <div id="collapseOne" CLASS"collapse show" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
                <b>Upnoid</b> is a movie/video rental application that is going to be used in movie rental
                stores to rent out movies .<br /> <b>Upnoid</b> has 2 different roles, you have the customers
                side and the Staff members side. The staff members will<br /> be responsible for maintaining the
                movies we have on the store as well adding new movies on the on system, and the <br /> customers will able
                to view the movies that are available for renting out and also view a trailer of a specific movie.<b>Upnoid</b><br />
                is developed by a 4th year at Nelson Mandela University, Xabiso Hila.

            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingThree">
            <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    HOW TO REGISTER
                </a>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="card-block">
                <p>
                    To register using upnoid application. Click the login page on the upper right corner and navigate to register
                    page from there.
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingFour">
            <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    HOW TO LOGIN
                </a>
            </h5>
        </div>
        <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="card-block">
                <p>
                    To register using upnoid application. Click the login page on the upper right corner and navigate to register
                    page from there.
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingFive">
            <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    CAN I BOOK A MOVIE
                </a>
            </h5>
        </div>
        <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="card-block">
                <p>
                    To register using upnoid application. Click the login page on the upper right corner and navigate to register
                    page from there.
                </p>
            </div>
        </div>
    </div>
</div>
