@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("WhatsUp " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">       
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Account <img src="/Images/user.png" class="img-rounded" height="23" width="23" alt="Profile"><b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li style="background-color: #FF3B77;">@Html.ActionLink("Login","Login", "Account")</li>
            <li style="background-color: #FF3B77;">@Html.ActionLink("Register", "Register", "Account")</li>
        </ul>
    </ul>
}
