@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">
    <b>Oooops!</b>  An error occurred while processing your request. <br />
    Try again and if the problem persist you know what to do.
</h2>

